* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

#path {
    width: 400px;
    padding: 5px;
    background: #f5f5f5;
    border: 1px #000 solid;
    border-radius: 5px;
    margin: 5px;
}

.storage_el {
    margin: 25px 10px;
}

.storage_el a {
    padding: 5px 15px;
    background: #f5f5f5;
    border-radius: 5px;
}

.file span{
    font-size: 11px;
    vertical-align: bottom;
}