* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    text-align: center;
    padding: 10px 0;
}

.storage-nav {
    width: 400px;
}

#path {
    width: 100%;
    padding: 5px 15px;
    background: #f5f5f5;
    border: 1px #000 solid;
    border-radius: 5px;
    margin: 10px;
}

.storage-nav__add {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #f5f5f5;
    margin: 10px;
    border: 1px #000 solid;
    border-radius: 5px;
}

.storage-nav__add a{
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
}

.storage-nav__add a:last-child {
    border-left: 1px #000 solid;
}

.storage-nav__info {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
    padding: 5px 15px;
    background: #f5f5f5;
    border-radius: 5px;
    width: 100%;
}

.storage-nav__info span {
    display: inline-block;
}

.storage_el {
    display: flex;
    margin: 20px 10px;
    padding: 5px 15px;
    background: #f5f5f5;
    border-radius: 5px;
    width: 100%;
    transition: background .3s;
}

.storage_el:hover {
    background: #ececec;
}

.storage_el img{
    height: 30px;
    width: 30px;
}

.storage_el a {
    line-height: 30px;
    font-size: 18px;
    padding-left: 10px;
    width: 100%;
}

.file span{
    line-height: 30px;
    font-size: 11px;
    white-space: nowrap;
}

