header{
    position: relative;
    padding: 10px;
}

h1 {
    text-align: center;
}

#burger__menu{
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    height: 26px;
    width: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
        height: 2px;
        width: 30px;
        background: var(--color-text);
    }
    &::before{
        content: '';
        height: 2px;
        width: 30px;
        background: var(--color-text);
        position: absolute;
        left: 0;
        top: 0;
    }
    &::after{
        content: '';
        height: 2px;
        width: 30px;
        background: var(--color-text);
        position: absolute;
        left: 0;
        bottom: 0px;
    }
    &.open::before {
        transform: rotate(-45deg);
        top: 12px;
    }
    
    &.open::after {
        transform: rotate(45deg);
        bottom: 12px;
    }
    
    &.open span {
        transform: scale(0);
    }
}

#menu__nav {
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 57px;
    visibility: hidden;
    opacity: 0;
    width: 250px;
    height: 100vh;
    border: 1px solid var(--bg-border);
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.3);
    background: var(--bg-block);
    display: flex;
    flex-direction: column;
    &.open {
        opacity: 1;
        visibility: visible;
        
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        display: inline-block;
        padding: 7px 30px;
        width: 100%;
        cursor: pointer;
        &:hover {
            background: var(--bg-hover);
        }
    }
    .menu__empty {
        flex: 1 1 auto;
    }
    .menu__theme {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        #menu__theme_text{
            padding-right: 10px;
        }

        input[type=checkbox]{
            height: 0;
            width: 0;
            visibility: hidden;
        }
        
        label {
        cursor: pointer;
        width: 50px;
        height: 26px;
        background: grey;
        display: block;
        border-radius: 26px;
        position: relative;
        }
        
        label:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 20px;
        height: 20px;
        background: var(--bg-block);
        border-radius: 20px;
        transition: 0.3s;
        }
        
        input:checked + label {
        background: #bada55;
        }
        
        input:checked + label:after {
        left: calc(100% - 3px);
        transform: translateX(-100%);
        }
        
        label:active:after {
        width: 30px;
        }
        
        body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        }
    }
    .menu__footer {
        height: 30px;
        background: var(--bg-footer);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
